@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
 }
 *{
    font-family: 'roboto';
 }
 body {
    margin: 0;
 }
header {
    background-color: #1F2937;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width:100%;
    z-index: 1;
  }
  .headerlogoEl{
    height:150px;
    width:auto;
  }
  header nav ul {
    list-style: none;
    display: flex;
  }
  header nav ul li a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 15px;
  }
header nav ul li a:hover{
    font-size: 20px;
    color: #374253;

  }
  .sectionOne{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:auto;
  }
  .containerA {
    flex: 1;
    margin-left:40px;
  }
  .containerB {
    flex: 1;
  }
.logoEl {
    width:100%;
    height:auto;
  }
.containerA h1 {
    font-size:48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.containerA p{
    font-size: 18px;
    color: #E5E7EB;
}
.signUpBtn{
    background-color:#3882F6;
    font-size: 18px;
    color: #E5E7EB;
    padding: 15px 30px;
    border-radius: 15px;
    border-style: none;
}
.signUpBtn:hover{
    background-color: #6e9fee;
}
.informationEl{
    text-align: center;
    font-size: 36px;
    color:#1F2937;
    font-weight:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.services img{
    width:100px;
    height:100px;
    border:2px solid ;
    border-color:#3882F6;
    border-radius: 10px;
}
.services p{
    font-size:small;
}
.servicesEl{
    text-align: center;
    
}
.servicesEl img:hover {
    transform: scale(1.2);
  }
  
.servicesEl P{
    font-weight: bolder;
}
.qouteEl{
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  text-align: center;
}
.qouteEl p{
    font-style:italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    padding-top: 20px;
}
.qouteEl cite {
    margin-left:50%;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: #1F2937;
  }
.sectionTwo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3882F6;
    margin: 20px 110px;
    border-radius: 15px;
    color:#F9FAF8;
    margin-top: 50px;
}
.containerC{
    flex:1;
    justify-content: center;
    align-items: center; 
    padding:0 50px;
}
.containerC h4{
    font-size: 24px;

}
.containerC p{
    font-size: 18px;
}
.containerD{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
}
.signUpBtn2{
    padding:10px 40px;
    border-radius: 10px;
    border-color:#F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
}
.signUpBtn2:hover{
    transform: scale(1.2);
    background-color: #6e9fee;
}
footer{
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}